<!doctype html>
<html>
  <head>
    <title>Search <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=shopData.shopName%></h1>
    <form action="search_result" method="GET">
      <p>What book do you want?</p>
      <input id="search_box" type="text" name="search_text">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>